*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #d3d3d3;
    font-family: Roboto, sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    max-width: 600px;
    padding: 20px 10px 20px 60px;
    margin: 0 auto;
}

button {
    padding: 3px;
}

aside {
    max-width: 300px;
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: justify;
    font-weight: 300;
    font-size: 16px;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

p {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 5px 0 5px 0;
    font-weight: 400;
}

li {
    margin: 10px 0;
    list-style: none;
    border-bottom: 1.5px solid transparent;
    border-top: 1.5px solid transparent;
    max-width: 375px;
}

li:hover {
    border-bottom: 1.5px solid #adadad;
    border-top: 1.5px solid #adadad;
}

img {
    width: 35px;
    border-radius: 3px;
    margin-right: 5px;
}

audio {
    height: 20px;
    width: 100%;
}

footer {
    background-color: #BCBCBC;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

@media (max-width: 1200px) {
    aside {
        position: static;
        margin: 10px 0;
        max-width: 375px;
    }
}

@media(max-width: 600px) {
    .container {
        padding: 20px 10px;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 20px;
    }
    
    aside {
        font-size: 14px;
    }
}